body{

 background-color: black;
 color:red;

}

#navbar{

 margin:0;
 padding: 0;

}

#navbar ul{
	margin:0;
    padding:0;
}

#navbar li{

  list-style: none;
  float:left;
  position: relative;
}

#navbar ul li a{
	color:white;
	text-align: center;
	text-decoration: none;
	width: 50px;
	height: 30px;
	display:block;
}

#navbar ul ul {
	position: absolute;
	display: none;
}

#navbar ul li:hover ul{

   display:block;

}